body {
  background-color: rgb(241, 240, 240);
  font-family: Arial, Helvetica, sans-serif
}

h3 {
  color: gray;
}

p {
  margin: 10px 0;
}

.head {
  text-align: center;
}

.btn {
  cursor: pointer;
}

.create-container {
  /* border: 1px solid red; */
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.add, .submit {
  background-color: rgb(46, 176, 236);
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 15px;
}

.create-area {
  margin: 10px 0;
}

.date-picker-container {
  display: flex;
  align-items: center;
}

.due-text {
  margin-right: 20px;
}

.important-select-container {
  display: flex;
  align-items: center;
}

.task-item {
  border: 2px solid gray;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  margin: 10px auto;
  width: 80%;
}

.icon {
  flex: 0.5;
  color: gray;
  /* margin: 0 auto; */
}

.star {
  color: rgb(231, 189, 0);
}

.task-content {
  width: 50%;
  word-break: keep-all;
  text-align: justify;
  flex: 4;
}

.due-date-container {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1.5;
}

.date {
  /* border: 1px solid black;
  border-radius: 4px; */
  background-color: white;
  margin: 0;
}

.delete {
  color: rgb(190, 0, 0);
}

